
body,button,input,select,textarea {
	font-weight: 400;
	font-size: 16px;
	font-family: "open_sansregular","helveticanenue",helvetica,arial,sans-serif;
	line-height: 1.5;
	color: #3a4250;
	letter-spacing: 0.5px;
	-webkit-font-smoothing: antialiased;
}
head {
	user agent 	stylesheet
	display: none;
}
div {
	user agent 	stylesheet
	display: block;
}
a {
	color: #9f72e6;
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: bottom;
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
li {
	user  agent stylesheet
	display: list-item;
	text-align: -webkit-match-parent;
}
main {
	display: block;
}
form {
	display: block;
	margin-top: 0em;
}
input {
	user  agent stylesheet
	-webkit-appearance: textfield;
	background-color: white;
	-webkit-rtl-ordering: logical;
	user-select: text;
	cursor: auto;
	padding: 1px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}
img {
	border: 0;
	max-width: 100%;
	vertical-align: bottom;
}
h3 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after:1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: 24px;
	margin-bottom: 24px;
}
code {
	font-size: 14px;
	color: #384454;
}
tt, code, kbd, samp {
	user  agent stylesheet
	font-family: monospace;
}
.header {
	padding: 48px 0;
	z-index: 5;
	color: #fff;
	background-color: #9d62c7;
	background-image: linear-gradient(to bottom right, #9d62c7, #855cc7);
	display: table;
	width: 100%;
}
.warpper {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 64px;
}
.header__img {
	display: table-cell;
	vertical-align: top;	
	min-width: 120px;
}
input, textarea, button , a {
	transition: 0.2s color ease,0.2s background ease;
}
.header__img img {
	max-width: 100%;
	border-radius: 50%;
	max-height: 120px;
}
.header__img a{
	display: block;
}
.header__bio {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 24px;
	width: 100%;
	height: 120px;
}
.nav {
	font-family:"open_sansregular","helveticaneue",helvetica,arial,sans-serif;
	background:#3a4250;
	text-align: center;
}
nav section {
	display: block;
}
.nav ul {
	margin: 0 auto;
	overflow: hidden;
	max-width: 788px;
}
ul,ol {
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}
ul, menu, dir {
	user agent stylesheet
	display: block;
	list style type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.nav li {
	float: left;
	width: 25%;
}
.nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	display: block;
	padding: 24px 30px;
	font-size: 13px;
}
.content {
	background: #f1f4f5;
	padding: 30px 0 65px;
	overflow-x: hidden;
}
.action-bar {
	max-width: 800px;
	margin: 0 auto 25px;
}
.search {
	position: relative;
}
.search input {
	width: 100%;
	padding: 15px 15px;
	outline: 0;
	border: 0;
}
input, textarea,select,button {
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: norone;	
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em 0em 0em 0em;
	font: 11px system-ui;
}
input,textarea,select,button,meter,grogress {
	user agent stylesheet
	-webkit-writing-mode: horizontal-tb;
}
ul,ol {
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}
ul, menu, dir {
	user agent stylesheet
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.search ul {
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	max-height: 200px;
	overflow-y: scroll;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.action-bar::after{
	content:"";
	clear:both;
	display: table;
}
.card {
	max-width: 800px;
	margin:0 auto;
	background: white;
}
@media screen and (max-width: 850px)
.courses {
	padding: 24px 40px 32px;
}
.courses {
	background: #3a4250;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	padding: 24px 64px 32px;
	cursor: pointer;
	text-align: center;
	position: relative;
	border-radius: 2px 2px 0 0;
}
.courses a {
	display: block;
	color: #fff;
}
.courses__logo {
	width: 160px;
	height: 55px;
}
.courses h3 {
	margin-top: 14px;
	margin-bottom: 8px;
	font-size: 24px;
}
h3, .gamma {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 40px;
}
h1,h2,h3,h4,h5 {
	font-weight: normal;
	font-family: "open_sanssemibold","helveticaneue",helvetica,arial,sans-serif;
	letter-spacing: -1px;
	margin: 16px 0;
}
.courses p {
	font-size: 14px;
	margin: 0;
	margin-bottom: 30px;
	color: #93a4c1;
}
.courses button {
	letter-spacing: -0.5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: url(/tu/3.jpg);
	background-position: top 17px right 20px;
	background-repeat: no-repeat;
	background-size: 6px;
	background-color: #9d62c8;
	color: #fff;
	transition: background-color .3s,box-shadow .3s,-webkit-box-shadow .3s;
	border: 0;
	outline: 0;
	line-height: 1;
	padding: 14px 40px 14px 31px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 100px;
	display: inline-block;
	text-decoration: none;
	font-family: 'helvetica','arial',sans-serif;
	text-align: left;
	cursor: pointer;
}
@media screen and (max-width: 850px)
.card__content {
	padding: 0 40px 40px 40px;
}
.card__content {
	padding: 0 64px 64px 64px;
}
@media screen and (max-width: 850px)
.post__title {
	font-size: 34px;
}
.post__title {
	font-family: "open_sansregular","helveticaneue",helvetica,arial,sans-serif;
	color: #384455;
}
h1, .alpha {
	line-height: 48px;
	margin: 56px 0 48px 0;
}
.post__meta {
	font-size: 14px;
	color: #b1b1b1;
	font-style: italic;
	position: relative;
	background-color: white;
	padding: 0 10px;
}
.post__header {
	text-align: center;
}
.post__date {
	font-family: "open_sanssemibold", "helveticaneue",helvetica,arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #8f9cae;
	line-height: 16px;
}
.post__edit {
	font-family: "open_sansregular", "helveticaneue",helvtica,arial,sans-serif;
	font-size: 13px;
	color: #79553b5;
	line-height: 16px;
}
.post__content {
	margin: 25px 0;
}
.post__ad {
	margin: 0 0 25px;
}
@media screen and (max-width: 850px)
.post.single p {
	font-size: 14px;
}
.post.single p {
	line-height: 24px;
	color: #272e39;
}
@media screen and (max-width: 850px)
p>code {
	padding: 6px 8px 4px 8px;
}
p>code {
	background-color: #f4f7fd;
	border-radius: 3px;
	line-height: 24px;
}
.post.single h2, .post.single h3 {
	border-top: 1px solid #f3f3f3;
	padding-top: 47px;
	text-align: center;
	margin-bottom: 40px;
	font-family: "open_sansregular", "helveticaneue",helvetica,arial,sans-serif;
}
p+h2, p+h3 {
	margin-top: 48px;
}
h3, .gamma {
	font-size: 32px;
	line-height: 40px;
}
.linkjuice {
	color: #3a4250;
	position: relative;
}
h3 .linkjuice-icon {
	top: 8px;
	width: 22px;
}
.linkjuice-icon {
	position: absolute;
	right: 100%;
	display: block;
	opacity: .3;
	padding-right: 10px;
	font-size: 65%;
}
.linkjuice__icon {
	background: url(/tu/1.jpg) no-repeat 0 0;
	background-size: contain;
	display: block;
	height: 25px;
}
i, cite, em, var, address, dfn {
	font-style: italic;
}
input, textarea, button, a {
	transition: 0.2 color ease, 0.2s background ease;
}
.action-bar .search {
	float:none;
	width:100%
}
.header p a {
	text-decoration: none;
	color:#fff;
	border-bottom: 1px dotted #fff;
}




























